@model RelationsPlatform.Web.ViewModels.RelationProfileViewModel

@{
    ViewData["Title"] = "OtherPage";
    Layout = "~/Views/User/_Menu.cshtml";
}

<script src="~/js/relationProfile.js"></script>

<link rel="stylesheet" href="~/css/ProfileNew.css" />

<div class="container-fluid gedf-wrapper">
    <div class="row">
        <div class="col-md-3 offset-md-1">
            <div class="card gedf-card">
                <div class="card-body">
                    <div class="profile-img">
                        @if (Model.User.Avatar == null)
                        {
                            <img src="~/img/ProfileIcon.png" />
                        }
                        else
                        {
                            <img alt="your image" src="data:image/jpeg;base64,@Convert.ToBase64String(Model.User.Avatar)">
                        }
                    </div>
                </div>
            </div>
            <input id="addToFriend" type="button" class="btn btn-sm btn-info"
                    style="margin-bottom:10px;"
                    data-toggle="modal"
                    value="Залишити відгук"
                    data-target="#exampleModal" />

            <form method="post">
                @if (Model.Status != null)
                {
                    <input id="addToFriend" type="submit" asp-route-id="@Model.User.Id" class="btn btn-secondary btn-sm" value="Видалити з друзів" />
                }
                else
                {
                    <input id="addToFriend" type="submit" asp-action="AddFriend" asp-route-id="@Model.User.Id" class="btn btn-primary btn-sm" value="Добавити до друзів" />
                }
            </form>
            <div class="card">
                <div class="card-body">
                    <div class="h5">Посилання</div>
                    <div class="h7">
                        @if (Model.User.Contact != null)
                        {
                            if (Model.User.Contact.Telegram != null)
                            {
                                <p class="links">Telegram : <span>@Model.User.Contact.Telegram</span></p>

                            }
                            if (Model.User.Contact.Instagram != null)
                            {
                                <p class="links">Instagram : <span>@Model.User.Contact.Instagram</span></p>

                            }
                            if (Model.User.Contact.Email != null)
                            {
                                <p class="links">Email : <span>@Model.User.Contact.Email</span></p>

                            }
                            if (Model.User.Contact.Discord != null)
                            {
                                <p class="links">Discord : <span>@Model.User.Contact.Discord</span></p>

                            }
                            if (Model.User.Contact.Facebook != null)
                            {
                                <p class="links">Facebook : <span>@Model.User.Contact.Facebook</span></p>

                            }
                        }
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-9">
                                <div class="h6 text-muted">Друзі: @Model.User.Relations.Count</div>
                            </div>
                            <div class="col-3">
                                <form method="get" asp-action="FriendsOfFriend" asp-route-id="@Model.User.Id">
                                    <input id="allfriends" style="width:50px"  type="submit" class="btn btn-secondary btn-sm" value="Всі" />
                                </form>
                            </div>
                        </div>
                        @{
                            if (Model.User.Relations != null)
                            {
                                int i = 0;
                                foreach (var item in Model.User.Relations)
                                {
                                    if (i++ != 3)
                                    {
                                        <div class="h5">@item.RelationUser.Name</div>
                                    }
                                }
                            }
                        }
                        <div class="h5">...</div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Right part of profile-->
        <div class="col-md-7 gedf-main">

            <div class="card gedf-card">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="ml-2">
                                <div class="h5 m-0">@Model.User.Name</div>
                                @if (Model.User.Skill != null)
                                {
                                    <div class="h7 text-muted">@Model.User.Skill.MainProfession</div>
                                }

                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-body">
                    <p class="main-data">Нік : <span>@Model.User.DigitalName</span></p>
                    <p class="main-data">Рейтинг : <span>@Model.Raiting</span></p>
                    <p class="main-data">Кількість відгуків : <span>@Model.User.Feedbacks.Count</span></p>
                    @if (Model.User.Birthday == null)
                    {
                        <p class="main-data">День народження : <span>Не вказано</span></p>

                    }
                    else
                    {
                        <p class="main-data">День народження : <span>@Model.User.Birthday.Value.ToShortDateString()</span></p>
                    }
                    <div class="row">
                        <div class="col-md-8">
                            @if (string.IsNullOrEmpty(Model.User.Description))
                            {
                                <p class="main-data">Опис : <span>Інформація відсутня</span></p>
                            }
                            else
                            {
                                <div class="row justify-content-start">
                                    <div class="col-2" style="margin-top:4px;">
                                        <p class="main-data">Опис :</p>
                                    </div>
                                    <div class="col-10">
                                        <p class="main-data"><span>@Model.User.Description</span></p>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <!--- \\\\\\\Post-->

            <div class="card gedf-card">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="skill-tab" data-toggle="tab" href="#skills" role="tab" aria-controls="posts" aria-selected="true">
                                Навики
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="education-tab" data-toggle="tab" role="tab" aria-controls="educations" aria-selected="false" href="#educations">Освіта</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="address-tab" data-toggle="tab" role="tab" aria-controls="images" aria-selected="false" href="#adderss">Адреса</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="jobs-tab" data-toggle="tab" role="tab" aria-controls="images" aria-selected="false" href="#jobs">Професії</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="skills" role="tabpanel" aria-labelledby="skill-tab">
                            <div class="form-group">
                                @if (Model.User.Skill != null)
                                {
                                    <div class="row">
                                        <div class="col">
                                            @if (Model.User.Skill.ProfesionSkills.Count != 0)
                                            {
                                                <div class="row">
                                                    <div class="col">
                                                        <label class="tab-title">Префесійні навики</label>
                                                    </div>
                                                </div>
                                                foreach (var item in Model.User.Skill.ProfesionSkills)
                                                {
                                                    <div class="row">
                                                        <div class="col-md-1">
                                                        </div>
                                                        <div class="col-md-4">
                                                            <p>@item.Name</p>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <a title="Рівень" data-toggle="popover" data-trigger="hover"
                                                               data-content="<span class='glyphicon glyphicon-refresh paleyellow'></span> @item.Description">
                                                                @for (int i = 1; i <= 5; ++i)
                                                                {
                                                                    @if (item.Level >= i)
                                                                    {
                                                                        <span class="fa fa-star" style="color:orange;"></span>
                                                                    }
                                                                    else
                                                                    {
                                                                        <span class="fa fa-star"></span>
                                                                    }
                                                                }
                                                            </a>
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            @if (Model.User.Skill.Abilities.Count != 0)
                                            {
                                                <div class="row">
                                                    <div class="col">
                                                        <label class="tab-title">Здібності</label>
                                                    </div>
                                                </div>
                                                foreach (var item in Model.User.Skill.Abilities)
                                                {
                                                    <div class="row">
                                                        <div class="col-md-1">
                                                        </div>
                                                        <div class="col-md-4">
                                                            <p>@item.Name</p>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <a title="Рівень" data-toggle="popover" data-trigger="hover"
                                                               data-content="<span class='glyphicon glyphicon-refresh paleyellow'></span> @item.Description">
                                                                @for (int i = 1; i <= 5; ++i)
                                                                {
                                                                    @if (item.Level >= i)
                                                                    {
                                                                        <span class="fa fa-star" style="color:orange;"></span>
                                                                    }
                                                                    else
                                                                    {
                                                                        <span class="fa fa-star"></span>
                                                                    }
                                                                }
                                                            </a>
                                                        </div>
                                                    </div>
                                                }
                                            }

                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="tab-pane fade" id="educations" role="tabpanel" aria-labelledby="education-tab">
                            <div class="form-group">
                                @if (Model.User.Education != null)
                                {
                                    <div class="row">
                                        <div class="col">
                                            @if (Model.User.Education.HigherEducations.Count != 0)
                                            {
                                                <div class="row">
                                                    <div class="col">
                                                        <label class="tab-title">Вища освіта</label>
                                                    </div>
                                                </div>
                                                @foreach (var item in Model.User.Education.HigherEducations)
                                                {
                                                    <div class="row">
                                                        <div class="col-md-1">
                                                        </div>
                                                        <div class="col-md-3">
                                                            <p>Заклад</p>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <p>@item.University</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-1">
                                                        </div>
                                                        <div class="col-md-3">
                                                            <p>Факультет</p>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <p>@item.Faculty</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-1">
                                                        </div>
                                                        <div class="col-md-3">
                                                            <p>Спеціальність</p>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <p>@item.Specialty</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-1">
                                                        </div>
                                                        <div class="col-md-3">
                                                            <p>Статус</p>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <p>@item.Status</p>
                                                        </div>
                                                    </div>
                                                    <hr />
                                                }
                                            }
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            @if (Model.User.Education.Schools.Count != 0)
                                            {
                                                <div class="row">
                                                    <div class="col">
                                                        <label class="tab-title">Школа</label>
                                                    </div>
                                                </div>
                                                foreach (var item in Model.User.Education.Schools)
                                                {
                                                    <div class="row">
                                                        <div class="col-md-1">
                                                        </div>
                                                        <div class="col-md-3">
                                                            <p>Заклад</p>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <p>@item.Name</p>
                                                        </div>
                                                    </div>
                                                    if (item.Description != null)
                                                    {
                                                        <div class="row">
                                                            <div class="col-md-1">
                                                            </div>
                                                            <div class="col-md-3">
                                                                <p>Опис</p>
                                                            </div>
                                                            <div class="col-md-8">
                                                                <p>@item.Description</p>
                                                            </div>
                                                        </div>
                                                    }
                                                    <hr />
                                                }
                                            }
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            @if (Model.User.Education.Courses.Count != 0)
                                            {
                                                <div class="row">
                                                    <div class="col">
                                                        <label class="tab-title">Курси</label>
                                                    </div>
                                                </div>
                                                foreach (var item in Model.User.Education.Courses)
                                                {
                                                    <div class="row">
                                                        <div class="col-md-1">
                                                        </div>
                                                        <div class="col-md-3">
                                                            <p>Назва</p>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <p>@item.Name</p>
                                                        </div>
                                                    </div>
                                                    @if (item.Description != null)
                                                    {
                                                        <div class="row">
                                                            <div class="col-md-1">
                                                            </div>
                                                            <div class="col-md-3">
                                                                <p>Опис</p>
                                                            </div>
                                                            <div class="col-md-8">
                                                                <p>@item.Description</p>
                                                            </div>
                                                        </div>
                                                    }
                                                    <hr />
                                                }
                                            }

                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="tab-pane fade" id="adderss" role="tabpanel" aria-labelledby="address-tab">
                            <div class="form-group">
                                @if (Model.User.Contact != null && Model.User.Contact.Address != null)
                                {
                                    <div class="row">
                                        <div class="col">
                                            @if (Model.User.Contact.Address.Country != null)
                                            {
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <p class="tab-title">Країна</p>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <p>@Model.User.Contact.Address.Country</p>
                                                    </div>
                                                </div>
                                            }

                                            @if (Model.User.Contact.Address.Region != null)
                                            {
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <p class="tab-title">Область</p>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <p>@Model.User.Contact.Address.Region</p>
                                                    </div>
                                                </div>
                                            }

                                            @if (Model.User.Contact.Address.City != null)
                                            {
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <p class="tab-title">Місто</p>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <p>@Model.User.Contact.Address.City</p>
                                                    </div>
                                                </div>
                                            }

                                            @if (Model.User.Contact.Address.District != null)
                                            {
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <p class="tab-title">Район</p>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <p>@Model.User.Contact.Address.District</p>
                                                    </div>
                                                </div>
                                            }

                                            @if (Model.User.Contact.Address.Street != null)
                                            {
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <p class="tab-title">Вулиця</p>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <p>@Model.User.Contact.Address.Street</p>
                                                    </div>
                                                </div>
                                            }

                                            @if (Model.User.Contact.Address.NumberOfHouse != null)
                                            {
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <p class="tab-title">Номер будинку</p>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <p>@Model.User.Contact.Address.NumberOfHouse</p>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="tab-pane fade" id="jobs" role="tabpanel" aria-labelledby="jobs-tab">
                            <div class="form-group">
                                @if (Model.User.Skill != null)
                                {
                                    <div class="row">
                                        <div class="col">
                                            @if (Model.User.Skill.Jobs.Count != 0)
                                            {
                                                int count = 1;
                                                foreach (var item in Model.User.Skill.Jobs)
                                                {
                                                    <div class="row">
                                                        <div class="col">
                                                            <label class="tab-title">Професія @count</label>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-1">
                                                        </div>
                                                        <div class="col-md-3">
                                                            <p>Місце роботи</p>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <p>@item.NameCompany</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-1">
                                                        </div>
                                                        <div class="col-md-3">
                                                            <p>Посада</p>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <p>@item.NamePosition</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-1">
                                                        </div>
                                                        <div class="col-md-3">
                                                            <p>Опис</p>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <p>@item.DescriptionOfWork</p>
                                                        </div>
                                                    </div>
                                                    ++count;
                                                    <hr />
                                                }
                                            }
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form asp-action="AddFeedback" method="post">
        <input type="text" hidden="hidden" asp-for="Id" class="form-control" />
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Ваш відгук</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row  align-items-center" style="margin-bottom:20px;">
                        <label for="inputFaculty" class="col-sm-7 col-form-label">Залиште оцінку від 0 до 100.</label>
                        <div class="col-sm-5 ml-auto">
                            <input type="number" asp-for="Note" class="form-control" placeholder="0 - 100" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Закрити</button>
                    <input type="submit" class="btn btn-sm btn-success" value="Зберегти" />
                </div>
            </div>
        </div>
    </form>
</div>
